@import "outils/variables";
@import "outils/mixins";
@import "sections/header";
@import "sections/projects-holder";
@import "sections/modale-holder";
@import "sections/footer";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
  background-color: $bg-theme-background;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  @include media-query("desktop") {
    flex-direction: row;
    overflow-y: hidden;
  }

  .material-icons {
    font-size: 2em;
    background-color: none;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}

#loader {
  position: absolute;
  width: 100%;
  bottom: 0;
  gap: 2;
  background-color: $bg-theme-background;
  padding: 4.375rem;
  opacity: 1;
  transition: opacity 1.5s ease;
  z-index: 10;

  .loader-text {
    text-align: right;

    span {
      font-family: "Ubuntu Mono", monospace;
      color: $theme-primary;
      font-size: clamp(150px, 10vw, 250px);
    }
  }

  .progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: $gray-300;
    margin-top: 1.25rem;

    #progress-bar {
      background-color: $theme-primary;
      height: 100%;
      width: 0;
    }
  }
}

.hidden {
  visibility: hidden;
}

.overflow-hidden {
  overflow-x: hidden;
}

.overflow-visible {
  overflow-x: visible;
}

.none {
  display: none;
}

@keyframes smoothHorizontalBounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.horizontal-bounce {
  animation: smoothHorizontalBounce 1.5s ease-in-out 0s infinite;
}
