@import "outils/variables";
@import "outils/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  touch-action: pan-x;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: $bg-theme-background;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;

  .material-icons {
    font-size: 2em;
    background-color: none;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}

#loader {
  position: absolute;
  width: 100%;
  bottom: 0;
  gap: 2;
  background-color: $bg-theme-background;
  padding: 4.375rem;
  opacity: 1;
  transition: opacity 1.5s ease;
  z-index: 10;

  .loader-text {
    text-align: right;

    span {
      font-family: "Ubuntu Mono", monospace;
      color: $theme-primary;
      font-size: clamp(150px, 10vw, 250px);
    }
  }

  .progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: $gray-300;
    margin-top: 1.25rem;

    #progress-bar {
      background-color: $theme-primary;
      height: 100%;
      width: 0;
    }
  }
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

/* Footer content */
#footer-content {
  z-index: 40;

  .intro-button {
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 2rem;
    bottom: 2rem;
    z-index: 30;
  }

  .intro-button-back {
    visibility: hidden;
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: 2rem;
    bottom: 2rem;
    z-index: 30;
  }

  .footer-intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    gap: 2rem;
    right: 4rem;
    bottom: 2rem;
    z-index: 20;

    .intro-text {
      line-height: 0.02;
      text-align: left;

      h1 {
        margin-bottom: 4rem;
        font-weight: lighter;
        font-family: "Ubuntu Mono", monospace;
        font-size: clamp(3em, 5vw, 5.95em);
        width: max-content;
        text-align: right;
      }

      h2 {
        font-family: "Alata", sans-serif;
        font-size: 1.5em;
        font-weight: lighter;
        text-align: right;
        color: $text-gray;
      }
    }
  }

  @include media-query("desktop") {
    .intro-button {
      position: fixed;
      right: 4rem;
      bottom: 2rem;
    }

    .intro-button-back {
      visibility: visible;
      position: fixed;
      left: 4rem;
      bottom: 2rem;
    }

    .footer-intro {
      right: 8rem;
      bottom: 2rem;
    }
  }
}

/* Header content */
#header-content {
  z-index: 50;

  @include media-query("desktop") {
    z-index: 41;
  }

  header {
    width: 100vw;
    min-width: 100%;

    #burger-menu {
      position: absolute !important;
      top: 2em;
      right: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 50;
    }

    #burger-menu .material-icons {
      color: black;
    }

    #burger-menu .material-icons.active-icon {
      color: white;
    }

    @include media-query("desktop") {
      #burger-menu {
        position: fixed !important;
        top: 4em;
        right: 4rem;
      }
    }

    #dropdown {
      overflow-y: auto;
      touch-action: pan-y;
      position: fixed;
      width: 100vw;
      max-width: 100%;
      box-sizing: border-box;
      z-index: 41;

      &.menu-dropdown {
        transition: opacity 0.3s ease, transform 0.3s ease;
        background-color: $text-theme-primary;
        color: $bg-theme-background;
      }

      .hidden {
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
      }

      .menu-content {
        font-family: "Alata", sans-serif;
        font-size: 1em;
        font-weight: 100;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include media-query("desktop") {
          gap: 6.5rem;
          padding: 3rem 14rem;
        }

        .menu-header {
          display: grid;
          grid-template-columns: 1fr;
          gap: 2rem;

          @include media-query("desktop") {
            grid-template-columns: 1fr 1fr;
            gap: 14rem;
          }

          .nom-profil {
            width: 100%;

            h3 {
              font-size: 2em;
              font-weight: 100;
            }

            p {
              font-size: 1.5em;
              font-weight: 100;
            }
          }

          .menu-projects {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
          }

          .project-menu-button {
            @include bouton-outlined(
              $bg-theme-background,
              $text-gray,
              $theme-primary,
              $text-gray
            );
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
          }
        }

        .main-container {
          display: grid;
          grid-template-columns: 1fr;
          gap: 2rem;

          @include media-query("desktop") {
            grid-template-columns: 1fr 1fr;
            gap: 14rem;
          }

          .menu-profil {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .menu-contact {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .contact-item {
                display: flex;
                flex-direction: row;
                gap: 20px;
              }
            }

            nav {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .menu-links {
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: space-between;
                gap: 2rem;

                a {
                  text-decoration: none;
                  color: inherit;
                  background: none;
                  border: none;
                  padding: 0;
                  margin: 0;
                  font: inherit;
                }
              }

              :first-child {
                display: flex;
                flex-direction: row;
              }

              .menu-link {
                width: 100%;
                @include bouton-outlined(
                  $bg-theme-background,
                  $text-gray,
                  $theme-primary,
                  $text-gray
                );
                display: flex;
                gap: 1rem;
                justify-content: center;
              }
            }
          }

          .menu-education {
            gap: 2rem;
            display: flex;
            flex-direction: column;

            .menu-stacks {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }

            .table-row {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .table-header {
                font-weight: bold;
                width: 20%;
                text-align: left;
              }

              .table-data {
                width: 75%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

/* Projects Holder */
#projets-holder {
  display: flex;
  flex-direction: row;
  z-index: 0;

  .projets-holder-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: self-end;
    padding: 2rem;
    z-index: 0;

    div {
      max-width: 100%;
      display: flex;
      flex-direction: column-reverse;

      header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 2rem;

        div {
          display: flex;
          flex-direction: column;

          h3 {
            font-family: "Alata", sans-serif;
            font-weight: 100;
            font-size: 2em;
            color: $text-theme-primary;
          }

          li {
            font-family: "Ubuntu Mono", monospace;
            list-style: none;
            color: $text-theme-primary;
          }
        }

        .btn-project {
          @include bouton-outlined(
            $theme-primary,
            $text-gray,
            $theme-primary,
            $text-gray
          );
          text-decoration: none;
          font-family: "Alata", sans-serif;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: auto;
          white-space: nowrap;

          .material-icons {
            font-size: 1.5rem;
          }
        }

        @include media-query("desktop") {
          flex-direction: row;
          align-items: end;
        }
      }

      .div-img,
      .div-img-single {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          max-width: 100%;
        }

        .second-img {
          display: none;
        }

        @include media-query("desktop") {
          img {
            width: 40%;
            height: 100%;
          }

          .second-img {
            display: block;
            width: 55%;
          }
        }
      }
    }
  }

  @include media-query("desktop") {
    .projets-holder-page {
      align-items: center;
      margin-top: 0;

      div {
        flex-direction: column;
      }
    }
  }

  @include media-query("desktop") {
    .projets-holder-page {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, minmax(100px, 1fr));
      padding: 4rem;
      gap: 20px;

      div {
        grid-column: 4 / 12;
        grid-row: 1 / 6;
        align-self: end;
        justify-self: end;
      }

      .div-single {
        grid-column: 5/ 12;
        grid-row: 1 / 3;
        display: flex;

        align-self: self-start;
        flex-direction: row;
        gap: 2rem;

        header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          white-space: nowrap;
        }

        .first-img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

/* Modale */
.modale-wrapper {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  #modale-holder {
    width: 100vw;
    height: 100vh;
    background-color: $bg-theme-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    &.hidden {
      display: none;
    }

    header {
      display: flex;
      width: 100%;
      padding: 2rem;
      justify-content: space-between;

      .div-header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        font-family: "Alata", sans-serif;

        h2 {
          font-weight: 100;
        }

        .list-vertical {
          display: flex;
          flex-direction: column;
          font-family: "Ubuntu Mono", monospace;
          list-style: none;
        }
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-items: flex-start;
        right: 2rem;
        bottom: 2rem;
      }
    }

    #modale-contenu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-family: "Ubuntu Mono", monospace;
      margin: 2rem;
      max-width: 100%;
      height: 100vh;

      .div-infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .details-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      .div-img {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
          width: 100%;
          height: auto;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;

        a {
          @include bouton-outlined(
            $theme-primary,
            $text-gray,
            $theme-primary,
            $text-gray
          );
          text-decoration: none;
          font-family: "Alata", sans-serif;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: auto;
          white-space: nowrap;
          text-transform: capitalize;

          .material-icons {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @include media-query("desktop") {
    #modale-holder {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, minmax(50px, 1fr));
      padding: 4rem;
      padding-bottom: 6rem;
      gap: 20px;
      overflow-y: scroll;
      width: 100vw;

      header {
        grid-column: 1 / 13;
        grid-row: 1 / 1;
      }

      #modale-contenu {
        grid-column: 1 / 12;
        grid-row: 2 / 6;
        width: 100%;
        height: auto;

        .div-infos {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: flex-end;

          .div-img {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            max-height: 350px;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          ul,
          p {
            display: flex;
            flex-direction: row;
            width: 50%;
            gap: 1rem;
          }
        }

        .div-infos {
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
        }
      }
    }
  }
}

.projet-wrapper {
  position: relative;
  z-index: 0;
}

#end-container {
  font-family: "Alata", sans-serif;
  display: flex;
  align-items: flex-end;
  min-width: 100vw;
  width: 100%;
  height: 100vh;
  padding: 2rem;

  .menu-profil {
    width: 100vw;

    .menu-contact {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: space-between;

      @include media-query("desktop") {
        grid-template-columns: 1fr 1fr;
      }

      .header-end {
        grid-row: 1;
        grid-column: 1;
        justify-items: flex-start;
        padding-top: 8rem;

        @include media-query("desktop") {
          grid-row: 1;
          grid-column: 2;
          justify-items: flex-end;
        }

        h2 {
          font-family: "Ubuntu Mono", monospace;
          font-size: clamp(3em, 5vw, 5.95em);
          font-weight: 100;
        }
      }
    }

    .contact-item {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;
    }

    nav {
      grid-row: 2;
      grid-column: 1;
      justify-items: flex-start;

      li {
        list-style: none;
        text-decoration: none;
      }
    }

    .menu-links {
      width: 100%;

      .menu-link {
        grid-column: 1 / -1;
        width: 100%;
        @include bouton-outlined(
          $theme-primary,
          $text-gray,
          $theme-primary,
          $text-gray
        );
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        justify-content: center;

        .material-icons {
          font-size: 1.5rem;
        }
      }
    }

    @include media-query("desktop") {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, minmax(100px, 1fr));
      padding: 4rem;
      gap: 20px;
    }
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

@keyframes smoothHorizontalBounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.horizontal-bounce {
  animation: smoothHorizontalBounce 1.5s ease-in-out 0s infinite;
}
