.modale-wrapper {
  position: fixed;
  z-index: 100;

  #modale-holder {
    width: 100vw;
    height: 100vh;
    background-color: $bg-theme-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    &.hidden {
      display: none;
    }

    header {
      display: flex;
      width: 100%;
      padding: 2rem;
      justify-content: space-between;

      .div-header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        font-family: "Montserrat", serif;

        h2 {
          font-weight: 400;
        }

        .list-vertical {
          display: flex;
          flex-direction: column;
          font-family: "Ubuntu Mono", monospace;
          list-style: none;
        }
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-items: flex-start;
        right: 2rem;
        bottom: 2rem;
      }
    }

    #modale-contenu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-family: "Ubuntu Mono", monospace;
      padding: 2rem;
      max-width: 100%;
      height: 100vh;

      .div-infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .details-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }

      .div-img {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
          width: 100%;
          height: auto;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;

        a {
          @include bouton-outlined(
            $theme-primary,
            $text-gray,
            $theme-primary,
            $text-gray
          );
          background-color: rgb(255, 255, 255);
          text-decoration: none;
          font-family: "Montserrat", serif;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          width: auto;
          white-space: nowrap;
          text-transform: capitalize;

          .material-icons {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @include media-query("desktop") {
    #modale-holder {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, minmax(50px, 1fr));
      padding: 4rem;
      padding-bottom: 6rem;
      gap: 20px;
      overflow-y: scroll;
      width: 100vw;
      height: 100vh;
      background-color: $bg-theme-background;

      header {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
      }

      #modale-contenu {
        grid-column: 1 / 12;
        grid-row: 2 / 6;
        width: 100%;
        height: auto;

        .div-infos {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: flex-end;

          .div-img {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;

            img {
              width: 100%;
              max-height: 400px;
              height: auto;
              object-fit: cover;
              object-position: 100% 70%;
            }
          }

          p {
            display: flex;
            flex-direction: row;
            width: 50%;
            gap: 1rem;
          }
        }

        .div-infos {
          ul {
            display: flex;
            flex-direction: row;
          }
          .div-liens {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 1rem;

            .liens-projet {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
